.btn-100{
    width: 100%;
}
.card-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-hotel {
    flex: 1 300px;
    padding: 2px 10px 20px 10px;
    margin-top: 20px;
}

footer {
    color: white;
    margin-top: 20px;
    height: 150px;
    background-color: #007BFF;
}